.about__me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  align-items: center;
}
#about-me h2::before {
  content: "";
  display: inline-block;
  background: url("../img/icon/detalhe.svg") no-repeat;
  width: 26px;
  height: 41px;
  margin-right: 10px;
}
.about__me-box p {
  margin-bottom: 50px;
  display: flex;
}
.img-foto {
  display: flex;
  object-fit: cover;
  position: center;
  justify-content: flex-end;
  z-index: 3;
}
.about__me-box::before {
  content: "";
  display: block;
  background: url("../img/icon/detalhe-foto.jpg") no-repeat;
  height: 880px;
  width: 480px;
  position: absolute;
  right: 75px;
  bottom: 80px;
  z-index: -1;
  object-fit: cover;
  object-fit: cover;
}
.img-foto img {
  object-fit: cover;
  object-fit: cover;
}
