.about__me-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  align-items: center;
}
#about-me h2::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/detalhe.svg") no-repeat;
  width: 26px;
  height: 41px;
  margin-right: 10px;
}
.about__me-box p {
  margin-bottom: 50px;
  color: var(--cor-texto);
  text-align: justify;
  margin-right: 40px;
}
.img-foto {
  display: flex;
  justify-content: end;
  z-index: 3;
}
.about__me-box::before {
  content: "";
  display: block;
  background: url("../img/fotos/detalhe-foto.png") no-repeat;
  height: 880px;
  width: 480px;
  position: absolute;
  right: 75px;
  bottom: 80px;
}
@media (max-width: 1080px) {
  .img-foto img {
    display: flex;
    width: 25vh;
    justify-content: flex-start;
  }
  .about__me-box::before {
    background: url("../img/icons/detalhe-foto-min.jpg") no-repeat center center;
    bottom: -100px;
    right: -50px;
  }
}
@media (max-width: 850px) {
  .about__me-container {
    grid-template-columns: 1fr;
  }
  .img-foto {
    justify-content: center;
  }
  .about__me-box::before {
    display: none;
  }
  .img-foto img {
    border-radius: 50%;
    border: 3px solid var(--cor-detaque-1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .about__me-box p {
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  #about-me h2::before {
    height: 22px;
  }
  #about-me h2 {
    text-align: center;
  }
}
