.studies-boxs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
}
.studies-box {
  display: block;
  background: var(--cor-8);
  padding: 0px 35px 40px 35px;
  border-radius: 15px;
  margin-bottom: 70px;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.6);
}

.my-studies h2::before {
  content: "";
  display: inline-block;
  background: url("../img/icons/detalhe.svg") no-repeat;
  width: 26px;
  height: 41px;
  margin-right: 10px;
}
.studies-boxs ul {
  display: flex;
  justify-content: space-between;
}
.studies-boxs img {
  width: 90px;
  height: 90px;
  position: relative;
  top: -50px;
}
@media (max-width: 800px) {
  .studies-boxs {
    grid-template-columns: 1fr;
  }
  .studies-boxs ul {
    display: flex;
  }
}

@media (max-width: 500px) {
  .my-studies h2::before {
    height: 22px;
  }
  .my-studies h2 {
    text-align: center;
  }
}
