#header {
  padding: 60px 0 120px 0;
}
[data-button="menu"] {
  display: none;
}
.header-content img {
  padding-left: 20px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .navegacao ul {
    display: flex;
    & > li {
      margin: 0 15px;

      & > a {
        color: var(--cor-subtitulo);
        padding: 9px 15px;
        text-transform: capitalize;
      }
    }
  }
}
#header .header-content li a:hover {
  color: var(--cor-detalhe-1);
}
.introduction-content {
  text-align: center;
  margin-top: 120px;

  & > p {
    margin-top: 65px;
  }
}
.links-extremos {
  margin-top: 100px;
  & > ul {
    display: flex;
    justify-content: space-around;
    & > li {
      display: inline-block;
      background: var(--cor-subtitulo);
      border-radius: 500px;
      box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.6);
      & > a {
        display: flex;
        justify-content: space-evenly;
        padding: 12px 50px;
        text-transform: capitalize;
      }
    }
  }
}
@media (max-width: 850px) {
  [data-button="menu"] {
    display: flex;
    border-radius: none;
    padding: 8px 12px;
    border: 2px solid var(--cor-8);
    background-color: var(--cor-detaque-1);
    border-radius: 6px;
    font: 600 1rem/1 "Inter", sans-serif;
    text-transform: uppercase;
    align-items: center;
    z-index: 300;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -38px;
  }

  [data-button="menu"]::before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: currentColor;
    box-shadow: 0 4px currentColor, 0 -4px currentColor;
    margin-right: 5px;
  }
  [data-button="lista"] {
    display: block;
    flex-direction: column;
    background: var(--cor-8);
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 175px;
    border-radius: 4px;
    z-index: 200;
    position: relative;
    bottom: 300px;
    right: 15px;

    top: 0;
  }
  [data-button="lista"] li {
    display: flex;
  }
  .header-content {
    align-items: flex-start;
  }
  .head-img img {
    width: 75%;
    height: 75%;
  }
  #header {
    padding: 45px 0 80px 0;
  }
 
}
@media (max-width: 450px) {
  #header {
    padding: 30px 0 30px 0;
  }
  .header-img img {
    width: 50%;
    height: 50%;
  }
}
/* animação key */
@keyframes rigth {
  from {
  }
}
