#header {
  padding: 150px 0;
}
.header-content {
  position: fixed;
  top: -1px;
  left: 0;
  right: 0;
  z-index: 3300;
  margin: 0 auto;
  height: 10vw;
  padding: 20px 0;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.navegacao ul {
  display: flex;
}

.navegacao li {
  margin: 9px 15px;
}
.navegacao > a {
  color: var(--cor-subtitulo);
  text-transform: capitalize;
}

#header .header-content li a {
  text-transform: uppercase;
  color: var(--cor-subtitulo);
}
#header .header-content li {
  padding: 10px 0;
}
#header .header-content li a:hover {
  color: var(--cor-detaque-1);
}
#header .header-content li a::after {
  content: "";
  display: block;
  max-width: 0;
  height: 2px;
  background: var(--cor-detaque-1);
  margin-top: 3px;
  transition: 0.3s;
}
#header .header-content li a:hover::after {
  max-width: 100%;
}
.introduction-content {
  text-align: center;
  margin-top: 120px;
}

.introduction-content h1 {
  color: var(--cor-titulo);
}

.introduction-content p {
  margin-top: 65px;
  color: var(--cor-subtitulo);
}

.links-extremos {
  margin-top: 100px;
}
.links-extremos ul {
  display: flex;
  justify-content: space-around;
}
.links-extremos li {
  display: inline-block;
  background: var(--cor-subtitulo);
  border-radius: 500px;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.6);
}

.links-extremos span {
  padding: 0 20px;
}
@media (max-width: 850px) {
  #header .header-content li a::after {
    display: none;
  }
  .head-img img {
    width: 24px;
    height: 24px;
  }
  #header {
    padding: 45px 0 80px 0;
  }
  .links-extremos span {
    padding: 0 10px;
  }
  .header-menu {
    height: 40px;
  }
  .header-content {
    padding: 40px 0;
  }
}
@media (max-width: 600px) {
  #header .header-content li {
    padding: 5px 0;
  }

  #header .header-content li a {
    font-size: 0.875rem;
  }
}

@media (max-width: 450px) {
  #header {
    padding: 30px 0 30px 0;
  }

  .links-extremos span {
    padding: 0 5px;
  }
}

